body{
  min-width:960px;
  background:#f3f3f3;
  font-size:15px;
  font-family:sans-serif;
}
header{
  width:100%;
  background-color:#d3d3d3;  /*薄いグレー*/
　　　　padding：０　２％；
}
nav{
  display:flex;
  justify-content:center;
  align-items:center;
  height:140px;
  width:87.5%;
  margin:0 auto;
}
ul{
  text-align: right;
}
li{
  display:inline; 
  padding:0 10px;
}
.logo{
  width:70px;
  height:20px;
  margin-right:auto;
  margin-left:0;
}
.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* width: 60%; */
  margin: 30px 10px;
  padding-top: 30px;
}
.item {
  width: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  padding: 50px 10px;
  text-align: center;
  margin-right: 5px;
  background-color: antiquewhite;
}
/* .contents.item:not(:first-child){
  margin-left: 10px;
} */